---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _padY, _padB } from '@scripts/snips'
import _slug from '@scripts/slug'
import { _affiliates } from '@scripts/store'
import CardAffiliate from '@blocks/CardAffiliate.astro'

const { blok } = Astro.props
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list="pt-8 xs:pt-12 lg:pt-8">
    <Wrapper
        inner tag="ul" padY="y"
        class:list="w-full relative grid grid-cols-1 md:grid-cols-2 gap-y-8 md:gap-x-12 md:gap-y-1">
        { _affiliates.value.map((el: any, idx: number) => (
            <li class="group sm:odd:pt-12 sm:even:-mt-4">
                <CardAffiliate
                    filename={ el.image[0].file.filename }
                    name={ el.bio[0].title }
                    link={ _slug(el.link[0].link) }
                    data-modal-trigger
                    data-display={ `affiliate-at-${idx}`}
                />
            </li>
        )) }
    </Wrapper>
</Section>