---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import { _padY, _padB } from '../scripts/snips'
import _slug from '../scripts/slug'
import { _affiliates} from '../scripts/store'
import CardAffiliate from '../blocks/CardAffiliate.astro'

const { blok } = Astro.props
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list="pt-8 xs:pt-12 lg:pt-8">
    <Wrapper
        inner
        tag="ul"
        padY="y"
        class:list="w-full relative grid grid-cols-1 sm:grid-cols-2 gap-3">
        { _affiliates.value.map((el: any, idx: number) => (
            <li>
                <CardAffiliate
                    filename={ el.image[0].file.filename }
                />
            </li>
        )) }
    </Wrapper>
</Section>