---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import { _padY } from '../scripts/snips'
import DashedBox from '../layouts/DashedBox.astro'
import Cloud from '../atoms/Cloud.astro'

const { blok } = Astro.props
---
<Section title={ blok.title } class:list={[ ..._padY() ]}>
    <Wrapper inner>
        <DashedBox class:list={[ 'px-4 sm:px-8 lg:px-12 space-y-12 lg:space-y-20', ..._padY() ]}>
            <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-20 gap-y-14 lg:gap-y-20">
                { blok.awards.map((el: any) => (
                    <li>
                        <Cloud
                            filename={ el.image[0].file.filename }
                            aspect="box"
                        />
                    </li>
                )) }
            </ul>
        </DashedBox>
    </Wrapper>
</Section>