---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Readable from '../layouts/Readable.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _gradientLight, _padY } from '../scripts/snips'
import Icon from '../atoms/Icon.astro'

const { blok } = Astro.props
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[
        'overflow-clip h-[640px] md:h-[728px] box-content grid grid-cols-12 grid-rows-12',
        _padY()
    ]}>
    <div aria-hidden="true" class="z-[3] [grid-area:2/1/12/2] sm:[grid-area:3/1/12/2] transform-none sm:-translate-x-full">
        <Icon
            name="symbol"
            aria-hidden="true"
            aria-label="Decoration leading"
            class="text-accent-400 opacity-20 h-full"
        />
    </div>
    <div aria-hidden="true" class="hidden xl:block z-[3] xl:[grid-area:1/9/11/13]">
        <Icon
            name="symbol"
            aria-hidden="true"
            aria-label="Decoration trailing"
            class="text-accent-400 opacity-20 h-full"
        />
    </div>
    <div aria-hidden="true" class="[grid-area:1/1/13/13] xl:[grid-column-start:2] xl:[grid-column-end:12]">
        <Wrapper inner class:list="h-full clip-path-xs lg:clip-path-sm bg-accent-600 lg:px-4"/>
    </div>
    <div class="z-10 [grid-area:1/1/13/13]">
        <Readable class:list="h-full flex flex-col items-center justify-center">
            <BannerEntry
                subtitle={ blok.callout[0].subtitle }
                title={ blok.callout[0].title }
                copy={ blok.callout[0].copy }
                color="white"
                slatColor="white"
                size="2xl"
                centered
                links={ blok.callout[0].links }
            />
        </Readable>
    </div>
</Section>