---
import Section from '../layouts/Section.astro'
import { _padY, _padB } from '../scripts/snips'
import Cover from '../atoms/Cover.astro'
import Button from '../atoms/Button.astro'

const
    {
        blok
    } = Astro.props,
    images = blok.images
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[ '' ]}>
    <div class="swiper relative">
        <div class="swiper-wrapper">
            { images.map((el: any, idx: number) => (
                <div class="swiper-slide">
                    <Cover
                        filename={ el.file.filename }
                        class:list="xl:max-h-[680px]"
                    />
                </div>
            )) }
        </div>
        <Button
            tag="button"
            icon="arrow-left-fill"
            color="accent"
            fab
            class:list="swiper-button-prev absolute top-1/2 -translate-y-1/2 left-24 z-10"
        />
        <Button
            tag="button"
            icon="arrow-right-fill"
            color="accent"
            fab
            class:list="swiper-button-next absolute top-1/2 -translate-y-1/2 right-24 z-10"
        />
    </div>
</Section>

<script>
    import Swiper from 'swiper'
    import { Navigation } from 'swiper/modules'

    import 'swiper/css'

    const swiper = new Swiper('.swiper', {
        loop: true,
        autoplay: true,

        modules: [ Navigation ],
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    })
</script>