---
import Section from '@layouts/Section.astro'
import { _padY, _padB } from '@scripts/snips'
import Cover from '@blocks/Cover.astro'
import Button from '@atoms/Button.astro'

const
    {
        blok
    } = Astro.props,
    images = blok.images
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[ _padB() ]}>
    <div class="swiper relative">
        <div class="swiper-wrapper">
            { images.map((el: any, idx: number) => (
                <div class="swiper-slide !flex items-center justify-center !w-[88%] sm:!w-[80%]">
                    <Cover
                        filename={ el.file.filename }
                        class:list="xl:max-h-[680px]"
                    />
                </div>
            )) }
        </div>
    </div>
</Section>