---
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY, _padB } from '../scripts/snips'
import Cover from '../atoms/Cover.astro'
import Button from '../atoms/Button.astro'

const
    {
        blok
    } = Astro.props,
    entry = blok.entry,
    feature = entry.content.meta[0]

---
<section class:list={[
    blok.is_header ? _padB() : _padY()
]}>
    <div class="_grid relative">
        <Cover
            filename={ feature.image.filename }
            alt={ '' }
            class:list="_grid-1"
        />
        <div class="_grid-2 bg-punch-600 lg:bg-transparent">
            <Wrapper
                inner
                padX={ false }
                class:list={[
                    'flex justify-end h-full',
                    blok.is_header && 'lg:items-center relative'
                ]}>
                <div
                    class:list={[
                        `bg-punch-600 lg:w-[480px] h-full flex flex-col lg:justify-end px-4 py-12 lg:px-12`,
                        blok.is_header && 'lg:max-h-[488px]'
                    ]}>
                    <BannerEntry
                        subtitle={ blok.title }
                        title={ feature.title }
                        copy={ feature.description }
                        color="white"
                        slatColor="white"
                        hLevel={ blok.is_header ? 4 : 3 }
                        link={ !blok.is_header && entry.full_slug }
                    />
                </div>
                { blok.is_header && (
                    <Button
                        tag="button"
                        icon="arrow-down"
                        color="punch"
                        fab
                        class:list="hidden lg:flex absolute lg:-bottom-8 lg:left-0 _scroll-into-view"
                    />
                )}
            </Wrapper>
        </div>
    </div>
</section>

<style>
    ._grid {
        @apply lg:grid lg:grid-cols-12 lg:grid-rows-12;
    }
    ._grid-1 {
        @media screen(lg) {
            grid-area: 1 / 1 / 13 / 13;
        }
    }
    ._grid-2 {
        @media screen(lg) {
            grid-area: 1 / 1 / 13 / 13;
        }
    }
</style>

<script>
    
</script>