---
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY } from '../scripts/snips'
import Cover from '../atoms/Cover.astro'

const
    {
        blok
    } = Astro.props,
    entry = blok.entry,
    feature = entry.content.meta[0]

---
<section class:list={[ ..._padY() ]}>
    <div class="relative">
        <Cover
            filename={ feature.image.filename }
            alt={ '' }
        />
        <div class="lg:absolute inset-0 bg-punch-600 lg:bg-transparent">
            <Wrapper inner padX={ false } class:list="flex justify-end h-full">
                <div class="bg-punch-600 lg:w-[480px] h-full flex flex-col lg:justify-end px-4 py-12 lg:px-12">
                    <BannerEntry
                        subtitle={ blok.title }
                        title={ feature.title }
                        copy={ feature.description }
                        color="white"
                        slatColor="white"
                        hLevel={ 3 }
                        link={ entry.full_slug }
                    />
                </div>
            </Wrapper>
        </div>
    </div>
</section>