---
import Wrapper from '../layouts/Wrapper.astro'
import Readable from '../layouts/Readable.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _gradientLight, _padY } from '../scripts/snips'
import Icon from '../atoms/Icon.astro'

const {
    blok
} = Astro.props
---
<section>
    <Wrapper inner padY="y" class:list="relative">
        {
            blok.title
        }
        {
            blok.entry.content.meta[0].title
        }
    </Wrapper>
</section>