---
import { Image } from 'astro:assets'
import Wrapper from '../layouts/Wrapper.astro'
import Readable from '../layouts/Readable.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _gradientLight, _padY } from '../scripts/snips'
import Icon from '../atoms/Icon.astro'

const {
    blok
} = Astro.props
---
<section>
    <Image
        src={ blok.entry.content.meta[0].image.filename }
        alt={ '' }
        width="1600"
        height="1280"
        quality="100"
    />
    <Wrapper inner padY="y" class:list="relative">

    </Wrapper>
</section>