---
import Wrapper from '../layouts/Wrapper.astro'
import Grid from '../layouts/Grid.astro'
import SectionTitle from '../blocks/SectionTitle.astro'
import Heading from '../atoms/Heading.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _gradientSurface } from '../js/snips'

const {
    blok
} = Astro.props
---
<section class:list={[ ..._gradientSurface() ]}>
    <Wrapper inner padY="y">
        <Grid flipped>
            <div slot="trailing" class="space-y-8">
                <SectionTitle
                    title={ blok.title }
                    class:list="opacity-60"
                />
                <div class="hidden lg:flex flex-col space-y-16">
                    { blok.banners.map(entry => (
                        <Heading text={ entry.subtitle } size="4xl" weight="extra" color="surface" tighten/>
                    )) }
                </div>
            </div>
            <div slot="leading" class="lg:bg-white lg:shadow-lg lg:p-12 lg:min-h-[640px]">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nihil est perferendis minima earum iusto accusantium minus ullam voluptatibus sequi rem veniam natus sit a alias, molestias accusamus placeat vel?
            </div>
        </Grid>
    </Wrapper>
</section>