---
import Wrapper from '../layouts/Wrapper.astro'
import Icon from 'astro-icon'

const
    year = new Date().getFullYear(),
    { legalName } = Astro.props
---
<footer class="bg-surface-950">
    <div class="h-96">
        A
    </div>
    <div class="flex items-center h-[72px] border-t border-surface-900/60">
        <Wrapper class:list="w-full">
            <div class="flex items-center space-x-6">
                <Icon name="icon" class="w-8 text-white"/>
                <div class="flex items-center space-x-10">
                    <small class="text-sm text-white/65">
                        Copyright { year } { legalName }
                    </small>
                    <div>
                        B
                    </div>
                </div>
            </div>
        </Wrapper>
    </div>
</footer>