---
import Wrapper from '../layouts/Wrapper.astro'
import BannerTitle from '../blocks/BannerTitle.astro'
import BannerSubtitle from '../blocks/BannerSubtitle.astro'
import Grid from '../layouts/Grid.astro'
import Inner from '../layouts/Inner.astro'
import Copy from '../atoms/Copy.astro'
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'
import ImageSlat from '../blocks/ImageSlat.astro'
import { _padY, _gradientLight, _padT, _padB } from '../scripts/snips'

const { blok } = Astro.props
---
<section class:list={[ _gradientLight() ]}>
    <Wrapper inner padY="y">
        <Grid class:list="py-8">
            <Inner slot="leading" class="space-y-4 md:space-y-6 lg:space-y-10 lg:pb-8">
                <BannerTitle
                    title={ blok.title }
                    level="h2"
                    size="4xl"
                    weight="extra"
                    class:list="text-accent-600"
                />
                <BannerSubtitle title={ blok.subtitle }/>
            </Inner>
            <div slot="trailing" class="space-y-8 md:space-y-10 lg:space-y-14">
                <Copy content={ blok.copy }/>
                <ul class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3">
                    { blok.links.map((el: any) => (
                        <li class="group">
                            <Anchor
                                href={ `/${el.link.story.full_slug === 'home' ? '' : el.link.story.full_slug}` }
                                hover="shadow">
                                <Button
                                    icon={ el.icon }
                                    label={ el.title }
                                    iconPosition={ el.icon_position }
                                    color={ el.color }
                                    class="w-full"
                                />
                            </Anchor>
                        </li>
                    ))}
                </ul>
            </div>
        </Grid>
    </Wrapper>
    <ImageSlat images={ blok.images } class:list={[ _padB(), 'pt-8' ]}/>
</section>
