---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import BannerTitle from '../blocks/BannerTitle.astro'
import BannerSubtitle from '../blocks/BannerSubtitle.astro'
import Grid from '../layouts/Grid.astro'
import Inner from '../layouts/Inner.astro'
import Copy from '../atoms/Copy.astro'
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'
import ImageSquare from '../atoms/ImageSquare.astro'
import { _padY, _gradientLight, _padT, _padB } from '../scripts/snips'
import _slug from '../scripts/slug'

const { blok } = Astro.props
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[ _gradientLight() ]}>
    <Wrapper inner padY="y">
        <Grid class:list="pt-8 sm:pt-12 lg:pt-4">
            <Inner slot="leading" class="space-y-3 sm:space-y-5 lg:space-y-10 lg:pb-8">
                <BannerTitle
                    title={ blok.headline }
                    size="4xl"
                    weight="extra"
                    color="accent"
                    class:list="text-accent-600"
                />
                <BannerSubtitle title={ blok.subheadline }/>
            </Inner>
            <div slot="trailing" class="space-y-8 md:space-y-10 lg:space-y-14">
                <Copy content={ blok.copy }/>
                <ul class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3">
                    { blok.links.map((el: any) => (
                        <li class="group">
                            <Anchor href={ _slug(el.link) } hover="shadow">
                                <Button
                                    icon={ el.icon }
                                    label={ el.title }
                                    iconPosition={ el.icon_position }
                                    color={ el.color }
                                    class="w-full"
                                />
                            </Anchor>
                        </li>
                    ))}
                </ul>
            </div>
        </Grid>
    </Wrapper>
    <div
        class:list={[
            'group flex flex-col -space-y-9 xs:-space-y-14 sm:space-y-0 sm:flex-row sm:gap-3 overflow-clip mt-4',
            _padB()
        ]}>
        { blok.images.map((image: any) => (
            <ImageSquare
                slat
                filename={ image.file.filename }
                class="last:hidden lg:last:block sm:max-w-[50%] lg:max-w-[33.33%]"
            />
        )) }
    </div>
</Section>