---
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY } from '../scripts/snips'
import Cover from '../blocks/Cover.astro'

const
    {
        blok
    } = Astro.props

---
<section class:list={[ ..._padY() ]}>
    <div class="relative">

    </div>
</section>