---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import { _padY, _padB, _empty } from '../scripts/snips'
import Readable from '../layouts/Readable.astro'
import RichText from '../atoms/RichText.astro'

const
    {
        blok
    } = Astro.props
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[ _padB() ]}>
    <Wrapper
        inner
        class:list={[
            'w-full relative'
        ]}>
        <Readable class:list="-mt-8 sm:-mt-10 lg:-mt-16 bg-white shadow">
            <RichText text={ blok.body[0].text } class:list="py-4 sm:py-8"/>
        </Readable>
    </Wrapper>
</Section>