---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY, _padB } from '../scripts/snips'
import ProductFilters from '../blocks/ProductFilters.astro'

const
    {
        blok
    } = Astro.props,
    banner = blok.banner[0]
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list="py-8 sm:py-12 bg-surface-100 flex items-center justify-center min-h-48 mb-4 sm:mb-8 lg:mb-12">
    <Wrapper inner class:list="w-full relative">
        <BannerEntry
            title={ banner.title }
            color="dark"
            slatColor="accent"
            hLevel={ 4 }
            centered
        />
        <ProductFilters/>
    </Wrapper>
</Section>