---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import BannerEntry from '@blocks/BannerEntry.astro'
import { _padY, _padB, _empty } from '@scripts/snips'
import Searchbar from '@blocks/Searchbar.astro'

const
    {
        blok
    } = Astro.props,
    banner = blok.banner[0]
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[
        'py-8 sm:py-12 bg-surface-100 flex items-center justify-center min-h-48',
        blok.product_filter && 'mb-4 sm:mb-8 lg:mb-12'
    ]}>
    <Wrapper
        inner
        class:list={[
            'w-full relative pt-4 sm:pt-6',
            (blok.product_filter && !blok.overlap) && 'pb-6 sm:pb-8',
            !blok.product_filter && 'pb-4',
            blok.overlap && 'pb-6 sm:pb-8'
        ]}>
        <BannerEntry
            subtitle={ banner.subtitle }
            title={ banner.title }
            color="dark"
            slatColor="accent"
            size="2xl"
            centered
            showCopy={ banner.show_copy }
            copy={ banner.copy }
            showSubtitle={ !_empty(banner.subtitle) }
            class:list="max-w-screen-sm mx-auto"
        />
        { blok.product_filter && ( <Searchbar data-fuzzy-search data-list="products"/> ) }
    </Wrapper>
</Section>