---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY, _padB } from '../scripts/snips'
import { _empty } from '../scripts/snips'
import Checklist from '../atoms/Checklist.astro'

const
    {
        blok
    } = Astro.props,
    highlights = blok.highlights
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list={[ _padY() ]}>
    <Wrapper inner class:list="space-y-10 sm:space-y-12 lg:space-y-14">
        <BannerEntry
            title={ blok.headline }
            size="lg"
            weight="bold"
            color="dark"
            slatColor="accent"
            showSubtitle={ false }
            showCopy={ false }
        />
        { !_empty(highlights) && (
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:max-w-screen-md gap-4">
                { highlights[0].highlights.map((el: any) => (
                    <li>
                        <Checklist text={ el.item }/>
                    </li>
                )) }
            </ul>
        ) }
    </Wrapper>
</Section>