---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import CardProduct from '@blocks/CardProduct.astro'
import { _padY, _padB, _empty } from '@scripts/snips'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import StoryblokClient from 'storyblok-js-client'
import { PERPAGE } from '@scripts/constants'
import { _getVisibleItems } from '@scripts/get-visible-items'
import Pagination from '@blocks/Pagination.astro'

const perPage = PERPAGE
const page = Astro.url.searchParams.get('page') || '1'
const { blok } = Astro.props
const Storyblok = new StoryblokClient({
	accessToken: import.meta.env.STORYBLOK_TOKEN,
	cache: {
		clear: 'auto',
		type: 'memory',
	},
})
const params = {
	starts_with: 'products/',
	version: 'published',
	is_startpage: false,
}
const products = await Storyblok.getAll('cdn/stories', params)

const search = Astro.url.searchParams.get('s')
const current = parseInt(page, 10)
const { filteredItems, visibleItems } = _getVisibleItems(
	products,
	search,
	current,
	perPage,
)
---

<Section
	title={'All Products (Filtered)'}
	component={'products-filtered'}
	class:list='pt-8 xs:pt-12 lg:pt-8'>
	<Wrapper
		inner
		tag='ul'
		padB='b'
		class:list='w-full relative grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3'
		data-all-products>
		{
			visibleItems.length > 0 ? (
				visibleItems.map((i) => <p>{i.content.name}</p>)
			) : (
				<p class='text-2xl text-center'>No results found</p>
			)
		}
		<Pagination
			total={filteredItems.length}
			size={perPage}
			current={current}
		/>
	</Wrapper>
</Section>
