---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import { _padY, _padB } from '../scripts/snips'

const
    {
        blok
    } = Astro.props
---
<Section
    title={ blok.title }
    component={ blok.component }
    class:list="">
    <Wrapper inner padY="y" class:list="w-full relative">

    </Wrapper>
</Section>