---
import Wrapper from '../layouts/Wrapper.astro'
import Grid from '../layouts/Grid.astro'
import { _padB } from '../scripts/snips'
import BannerEntry from '../blocks/BannerEntry.astro'

const
    {
        blok
    } = Astro.props,
    leading = blok.leading[0],
    trailing = blok.trailing[0]
---
<section class:list="">
    <Wrapper inner padY="y" padX={ false }>
        <Grid>
            <div slot="leading" class="">
                <BannerEntry
                    subtitle={ leading.subtitle }
                    title={ leading.title }
                    hLevel={ 4 }
                />
            </div>
            <div slot="trailing" class="">
                B
            </div>
        </Grid>
    </Wrapper>
</section>