---
import Wrapper from '../layouts/Wrapper.astro'
import Grid from '../layouts/Grid.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import RichText from '../atoms/RichText.astro'

const
    {
        blok
    } = Astro.props,
    leading = blok.leading[0],
    trailing = blok.trailing[0]
---
<section class:list="">
    <Wrapper inner padY="y" padX={ false }>
        <Grid>
            <BannerEntry
                subtitle={ leading.subtitle }
                title={ leading.title }
                hLevel={ 4 }
                slot="leading"
            />
            <RichText text={ trailing.text } slot="trailing"/>
        </Grid>
    </Wrapper>
</section>