---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Split from '../layouts/Split.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY } from '../scripts/snips'
import ImageSquare from '../atoms/ImageSquare.astro'

const
    { blok } = Astro.props,
    leading = blok.leading[0],
    trailing = blok.trailing[0]
---
<Section class:list={[ ..._padY() ]} title={ blok.title }>
    <Wrapper padX={ false } containXlUp>
        <Split alternate={ blok.alternate }>
            <div slot="leading"
                class:list={[
                    'min-h-full flex flex-col justify-center xl:items-center xl:px-20 group-[&.order-1]:clip-path-t group-[&.order-2]:clip-path-b lg:!clip-path-y',
                    blok.color === 'accent' && 'bg-accent-600 text-white',
                    blok.color === 'surface' && 'bg-surface-100 text-surface-800',
                    blok.color === 'dark' && 'bg-surface-950 text-white',
                    blok.color === 'transparent' && 'bg-transparent',
                    blok.color === 'light_a' && 'bg-accent-50 text-accent-600',
                    _padY()
                ]}>
                <Wrapper inner padY="y" padX={ false } class:list="px-4 xl:px-0">
                    <BannerEntry
                        title={ leading.title }
                        size="2xl"
                        copy={ leading.copy }
                        color={ (blok.color === 'accent' || blok.color === 'surface') ? 'white' : 'surface' }
                        slatColor={ (blok.color === 'accent' || blok.color === 'surface') ? 'white' : 'accent' }
                    />
                </Wrapper>
            </div>
            <ImageSquare
                lelo
                slot="trailing"
                filename={ trailing.file.filename }
                class:list="group-[&.order-2]:clip-path-b group-[&.order-1]:clip-path-t lg:!clip-path-y"
            />
        </Split>
    </Wrapper>
</Section>