---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY } from '../scripts/snips'

const
    { blok } = Astro.props,
    banner = blok.banner[0],
    values = blok.values
---
<Section
    class:list={[ ..._padY() ]}
    title={ blok.title }>
    <Wrapper inner>
        <BannerEntry
            subtitle={ banner.subtitle }
            title={ banner.title }
            copy={ banner.copy }
            hLevel={ 4 }
            color={ 'surface' }
            slatColor={ 'punch' }
            class:list={ 'lg:max-w-screen-md' }
        />
    </Wrapper>
</Section>