---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _padY, _padT } from '../scripts/snips'
import Flipper from '../blocks/Flipper.astro'

const
    { blok } = Astro.props,
    banner = blok.banner[0],
    values = blok.values
---
<Section class:list={[ ..._padY() ]} title={ blok.title }>
    <Wrapper inner>
        <BannerEntry
            subtitle={ banner.subtitle }
            title={ banner.title }
            copy={ banner.copy }
            size="2xl"
            color={ 'dark' }
            slatColor={ 'accent' }
            class:list={ 'lg:max-w-screen-md' }
        />
        <div
            class:list={[
                'relative grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-3 pt-8 sm:pt-12 lg:pt-16'
            ]}>
            { values.map((entry: any) => (
                <Flipper
                    title={ entry.title }
                    copy={ entry.copy }
                    class:list={['group overflow-clip cursor-pointer']}
                />
            )) }
        </div>
    </Wrapper>
</Section>