---
import Section from '../layouts/Section.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Grid from '../layouts/Grid.astro'
import Inner from '../layouts/Inner.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import RichText from '../atoms/RichText.astro'
import SlatImage from '../atoms/SlatImage.astro'
import { _padY, _padB } from '../scripts/snips'
import Button from '../atoms/Button.astro'

const
    {
        blok
    } = Astro.props
---
<Section
    title={ blok.title }
    class:list={[ blok.is_header ? _padB() : _padY() ]}>
    <Wrapper
        inner
        padT={ blok.is_header && 't' }
        padY={ !blok.is_header && 'y' }
        padX={ false }
        class:list={[ blok.is_header && 'relative']}>
        <Grid>
            <Inner slot="leading">
                <BannerEntry
                    subtitle={ blok.subtitle }
                    title={ blok.title }
                    hLevel={ 4 }
                />
                <RichText text={ blok.content }/>
            </Inner>
            <SlatImage
                slot="trailing"
                filename={ blok.image.filename }
                clip="y"
                class:list="md:px-4 lg:!pl-0"
            />
        </Grid>
    </Wrapper>
</Section>