---
import Wrapper from '../shell/Wrapper.astro'
import Grid from '../shell/Grid.astro'
import SectionTitle from '../blocks/SectionTitle.astro'
import BannerEntry from '../blocks/BannerEntry.astro'
import { _gradientSurface } from '../js/snips'

const {
    blok
} = Astro.props
---
<section class:list={[ ..._gradientSurface() ]}>
    <Wrapper inner padY="y">
        <Grid flipped>
            <div slot="trailing">
                <SectionTitle
                    title={ blok.title }
                    class:list="opacity-60"
                />
            </div>
            <div slot="leading">
                B
            </div>
        </Grid>
    </Wrapper>
</section>