---
import Wrapper from '../shell/Wrapper.astro'
import { _gradientSurface } from '../js/snips'

const {
    blok
} = Astro.props
---
<section class:list={[ ..._gradientSurface() ]}>
    <Wrapper inner padY="y">

    </Wrapper>
</section>