---
import Wrapper from '../shell/Wrapper.astro'
import BannerTitle from '../blocks/BannerTitle.astro'
import BannerSubtitle from '../blocks/BannerSubtitle.astro'
import Grid from '../shell/Grid.astro'
import Copy from '../atoms/Copy.astro'
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'
import ImageSlat from '../blocks/ImageSlat.astro'

const { blok } = Astro.props
---
<section>
    <Wrapper inner padY="y" padX={ false }>
        <Grid>
            <div slot='leading' class="space-y-3 md:space-y-5 lg:space-y-9">
                <BannerTitle
                    title={ blok.title }
                    class:list="text-punch-600"
                />
                <BannerSubtitle title={ blok.subtitle }/>
            </div>
            <div slot="trailing" class="space-y-7 md:space-y-9 lg:space-y-14">
                <Copy content={ blok.copy }/>
                <ul class="flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-3">
                    { blok.links.map((link: any) => (
                        <li class="group">
                            <Anchor
                                href={ `/${link.link.story.full_slug === 'home' ? '' : link.link.story.full_slug}` }
                                hover="shadow">
                                <Button
                                    icon={ link.icon }
                                    label={ link.title }
                                    iconPosition={ link.icon_position }
                                    color={ link.color }
                                    class="w-full"
                                />
                            </Anchor>
                        </li>
                    ))}
                </ul>
            </div>
        </Grid>
    </Wrapper>
    <ImageSlat images={ blok.images } class="mt-7 sm:mt-9 lg:mt-12"/>
</section>
