---
import Wrapper from '../shell/Wrapper.astro'
import BannerTitle from '../blocks/BannerTitle.astro'
import Grid from '../shell/Grid.astro'
import Copy from '../atoms/Copy.astro'

const { blok } = Astro.props
---
<section>
    <Wrapper inner padY="y" padX={ false }>
        <Grid>
            <div slot='leading'>
                <BannerTitle
                    title={ blok.title }
                    class:list="text-punch-600"
                />
            </div>
            <div slot="trailing">
                <Copy content={ blok.copy }/>
            </div>
        </Grid>
    </Wrapper>
</section>
