---
import { _transition } from '../scripts/snips'

const {
    href, hover, ...attrs
} = Astro.props
---
<a
    href={ href }
    class:list={[
        'flex items-center',
        (hover === 'accent') && 'group-hover:text-punch-600',
        (hover === 'white') && 'group-hover:text-white/100',
        (hover === 'shadow') && 'group-hover:shadow-xl',
        _transition()
    ]}
    { ...attrs }>
    <slot/>
</a>