---
import { Icon } from 'astro-icon'
import LinkText from './LinkText.astro'

const { icon, iconPosition, label, color, underbar = false, titleCase = false } = Astro.props
---
<div
    class:list={[
        'h-[44px] lg:h-12 px-3 justify-center items-center gap-2 inline-flex pointer-events-none',
        color === 'punch' && 'bg-punch-600 text-white',
        color === 'surface' && 'bg-surface-200 text-surface-800',
        color === 'transparent' && 'bg-transparent',
        underbar ? '' : ''
    ]}>
    { icon && (
        <Icon
            name={ icon }
            class:list={['w-6', iconPosition === 'leading' ? 'order-1' : 'order-2']}
        />
    )}
    <div
        class:list={['justify-start items-start gap-2 flex', iconPosition === 'leading' ? 'order-2' : 'order-1']}>
        <LinkText text={ label } titleCase={ titleCase }/>
    </div>
</div>