---
import Icon from '../atoms/Icon.astro'
import LinkText from './LinkText.astro'

const {
    icon, iconPosition, label, color, underbar = false, titleCase = false, responsive, class: classes, ...attrs
} = Astro.props
---
<div
    class:list={[
        'justify-center items-center gap-2 inline-flex pointer-events-none',
        color === 'punch' && 'bg-punch-600 text-white',
        color === 'surface' && 'bg-surface-100 text-surface-800',
        color === 'dark' && 'bg-surface-950 text-white',
        color === 'transparent' && 'bg-transparent',
        responsive ? 'h-11 px-3' : 'h-[52px] px-5',
        underbar ? '' : '',
        classes
    ]}
    { ...attrs }>
    { icon && (
        <Icon
            name={ icon }
            class:list={['w-6', iconPosition === 'leading' ? 'order-1' : 'order-2']}
        />
    )}
    <div
        class:list={['justify-start items-start gap-2 flex', iconPosition === 'leading' ? 'order-2' : 'order-1']}>
        <LinkText text={ label } titleCase={ titleCase }/>
    </div>
</div>