---
import Icon from '../atoms/Icon.astro'
import LinkText from './LinkText.astro'

const
    {
        icon, iconPosition, label, color, titleCase = false, responsive, fab, eventsNone, tag = 'div', class: classes, ...attrs
    } = Astro.props,
    Tag = tag,
    dimensions = (responsive, fab) => {
        if (responsive) return 'h-11 px-3'
        else if (fab) return 'h-16 w-16 rounded-full'
        else return 'h-[52px] px-5'
    }
---
<Tag
    class:list={[
        'justify-center items-center gap-2 inline-flex',
        color === 'accent' && 'bg-accent-600 text-white',
        color === 'surface' && 'bg-surface-100 text-surface-800',
        color === 'dark' && 'bg-secondary-950 text-white',
        color === 'transparent' && 'bg-transparent',
        color === 'light_p' && 'bg-accent-50 text-accent-600',
        eventsNone && 'pointer-events-none',
        dimensions(responsive, fab),
        classes
    ]}
    { ...attrs }>
    { icon && (
        <Icon
            name={ icon }
            class:list={[
                fab ? 'w-8 pointer-events-none' : 'w-6',
                iconPosition === 'leading' ? 'order-1' : 'order-2'
            ]}
        />
    )}
    { label && (
        <div
            class:list={[
                `justify-start items-start gap-2 flex`,
                iconPosition === 'leading' ? 'order-2' : 'order-1'
            ]}>
            <LinkText text={ label } titleCase={ titleCase }/>
        </div>
    )}
</Tag>