---
import { Icon } from 'astro-icon'

const { icon, iconPosition, label, color } = Astro.props
---
<div
    class:list={[
        'h-12 px-4 justify-center items-center gap-3 inline-flex',
        color === 'punch' && 'bg-punch-500 text-white',
        color === 'surface' && 'bg-surface-200 text-surface-800',
    ]}>
    { icon && (
        <Icon
            name={ icon }
            class:list={['w-[22px]', iconPosition === 'leading' ? 'order-1' : 'order-2']}
        />
    )}
    <div
        class:list={['justify-start items-start gap-2 flex', iconPosition === 'leading' ? 'order-2' : 'order-1']}>
        <p class="text-[13px] leading-5 font-semibold font-display uppercase tracking-widest">
            { label }
        </p>
    </div>
</div>