---
import Icon from './Icon.astro'

const { text = 'New', icon = 'bolt', class: classes, ...rest } = Astro.props
---
<span
    class:list={[
        'flex items-center font-semibold font-display uppercase tracking-widest text-xs pl-3 pr-5 bg-accent-600 py-2 text-accent-50 space-x-1',
        classes
    ]} { ...rest }>
    <Icon name={ icon } class:list="w-5"/>
    <span set:text={ text }/>
</span>