---
const {
    level, text, size, uppercase, weight, tighten, loosen, color, class: classes, ...attrs
} = Astro.props
---
<div
    { ...attrs }
    class:list={[
        // Default Classes
        'h',

        // Font Sizes
        size === 'sm' && 'text-sm',
        size === 'md' && 'text-[24px] leading-[18px]',
        size === '3xl' && 'text-[32px] leading-[36px] lg:text-[48px] lg:leading-[56px]',
        size === '4xl' && 'text-[36px] leading-[44px] md:text-[56px] md:leading-[68px] lg:text-[72px] lg:leading-[76px]',
        size === '6xl' && 'text-[40px] leading-[28px] md:text-[56px] md:leading-[42px] lg:text-[104px] lg:leading-[72px]',
        size === '7xl' && 'text-[44px] leading-[32px] md:text-[64px] md:leading-[47px] lg:text-[104px] lg:leading-[76px] xl:text-[112px] xl:leading-[82px]',

        // Font Weights
        weight === 'regular' && 'font-normal',
        weight === 'medium' && 'font-medium',
        weight === 'semi' && 'font-semibold',
        weight === 'bold' && 'font-bold',
        weight === 'extra' && 'font-extrabold',

        // Colors
        color === 'punch' && 'text-punch-600',
        color === 'surface' && 'text-surface-950',
        color === 'white' && 'text-white',

        // Booleans
        uppercase && 'uppercase',
        tighten && 'tracking-tight',
        loosen && 'tracking-[0.15em]',

        // Classes Passed In
        classes
    ]}>
    {() => {
        switch (level) {
            case 'h1': return <h1>{ text }</h1>
            case 'h2': return <h2>{ text }</h2>
            case 'h3': return <h3>{ text }</h3>
            default: return <span>{ text }</span>
        }
    }}
</div>