---
const {
    level, text, size, uppercase, weight, tighten, loosen, color, class: classes, ...attrs
} = Astro.props
---
<div
    { ...attrs }
    class:list={[
        // Default Classes
        'h',

        // Font Sizes
        size === 'sm' && 'text-sm',
        size === '3xl' && 'text-4xl lg:text-5xl',
        size === '7xl' && 'text-[48px] leading-[36px] md:text-[72px] md:leading-[54px] lg:text-[112px] lg:leading-[82px]',

        // Font Weights
        weight === 'regular' && 'font-normal',
        weight === 'medium' && 'font-medium',
        weight === 'semi' && 'font-semibold',
        weight === 'bold' && 'font-bold',
        weight === 'extra' && 'font-extrabold',

        // Colors
        color === 'punch' && 'text-punch-600',

        // Booleans
        uppercase && 'uppercase',
        tighten && 'tracking-tight',
        loosen && 'tracking-widest',

        // Classes Passed In
        classes
    ]}>
    {() => {
        switch (level) {
            case 'h1': return <h1>{ text }</h1>
            case 'h2': return <h2>{ text }</h2>
            case 'h3': return <h3>{ text }</h3>
            default: return <span>{ text }</span>
        }
    }}
</div>