---
import _slugify from '../scripts/slugify'

const {
    label, required, consent,
    class: classes, ...attrs
} = Astro.props
---
<div
    class:list={[
        'flex',
        consent ? 'items-start' : 'items-center'
    ]}>
    <input
        id={ _slugify(label) }
        name={ label }
        type="checkbox"
        required={ required }
        checked={ consent }
        class:list={[
            `h-5 w-5 border-[1.5px]
            border-surface-400 text-accent-600 focus:ring-accent-600
            cursor-pointer`,
            consent && 'mt-2'
        ]} { ...attrs }
    >
    <label
        for={ _slugify(label) }
        class="cursor-pointer pl-3">
        <span set:text={ label } hidden={ consent }/>
        { consent && <slot/> }
    </label>
</div>