---
import _slugify from '../scripts/slugify'
import { _capitalize } from '../scripts/snips'
import { _affiliate, _affiliates } from '../scripts/store'

const
    {
        label, id, required, firstOpt, showLabel = true, ringed = true, inset,
        class: classes, ...attrs
    } = Astro.props
---
<div
    class:list={[
        'group',
        classes,
        inset && 'h-[calc(100%-1rem)] min-w-32 max-w-40'
    ]}
    data-label={ _slugify(label) }
    { ...attrs }>
    <label
        for={ _slugify(id) }
        class:list={ showLabel ? 'flex' : 'hidden' }>
        <span
            class="block mr-0.5 group-[:focus-within]:font-medium group-[:focus-within]:text-dark-950"
            set:text={ label }
        />
        { required && (<span class="text-red-600">*</span>) }
    </label>
    <select
        id={ _slugify(id) }
        name={ _capitalize(id) }
        class:list={[
            'block w-full border-0 bg-transparent py-3',
            showLabel && 'mt-1',
            ringed && `ring-[1.5px] ring-inset ring-surface-200 focus:ring-2 focus:ring-inset focus:ring-accent-600`,
            inset && 'h-full pl-4 focus:ring-0 truncate'
        ]}>
        <option
            data-first-option={ _slugify(firstOpt) }
            value={ _slugify(firstOpt) }
        />
        <slot/>
    </select>
</div>