---
import _slugify from '../scripts/slugify'

const {
    type, label, placeholder, autocomplete, required,
    class: classes, ...attrs
} = Astro.props
---
<label
    class:list={[ 'group', classes ]}
    data-label={ _slugify(label) }
    { ...attrs }>
    <div class="flex">
        <span
            class="block mr-0.5 group-[:focus-within]:font-medium group-[:focus-within]:text-dark-950"
            set:text={ label }
        />
        { required && (<span class="text-red-600">*</span>) }
    </div>
    <div class="mt-1">
        <input
            type={ type }
            name={ label }
            placeholder={ placeholder }
            autocomplete={ autocomplete }
            required={ required }
            class:list={[`
                block w-full border-0 py-3
                bg-surface-100 focus:bg-white text-surface-800
                shadow-inner ring-1 ring-inset ring-gray-300
                placeholder:text-surface-600
                focus:ring-2 focus:ring-inset focus:ring-accent-600
            `]}
        >
    </div>
</label>