---
import Copy from '@atoms/Copy.astro'
import Icon from '@atoms/Icon.astro'

const { id, name, label, class: classes, ...props } = Astro.props
---

<label
	for={id}
	class:list={[
		`
            relative flex items-center justify-center px-2.5 py-1.5 border-[0.09375rem] border-dark-200 rounded-md cursor-pointer
            has-[:checked]:border-accent-300 has-[:checked]:ring-accent-200 has-[:checked]:text-accent-600
            group
        `,
		classes,
	]}
	{...props}>
	<input type='checkbox' id={id} class='hidden' name={name} />
	<span
		class='flex items-center shrink-0 size-0 opacity-0 group-has-[:checked]:size-4 group-has-[:checked]:mr-0.5 group-has-[:checked]:opacity-100 -translate-x-0.5 transition-all duration-200 ease-[cubic-bezier(0.4,0,0.2,1)]'>
		<Icon name='checkbox-circle-fill' class='size-4 text-inherit' />
	</span>
	<Copy tag='span' content={label} size='sm' class='block text-inherit' />
</label>
