---
const { text, titleCase } = Astro.props
---
<span
    class:list={[
        'flex items-center text-[13px] leading-5 font-semibold font-display',
        titleCase ? 'tracking-wide' : 'uppercase tracking-widest'
    ]}>
    { text }
</span>