---
const { text, titleCase, tiny = true } = Astro.props
---
<span
    class:list={[
        'flex items-center font-semibold',
        titleCase ? 'tracking-normal' : 'uppercase tracking-widest',
        tiny ? 'text-xs' : 'text-sm'
    ]}>
    { text }
</span>