---
const { class: classes, ...props } = Astro.props
---
<div
    { ...props }
	class:list={[
        `prose prose-h1:font-bold prose-h1:text-xl prose-a:text-accent-600 prose-headings:underline prose-p:leading-[1.55]`,
        classes,
    ]}>
    <slot />
</div>