---
import BannerTitle from '../blocks/BannerTitle.astro'
import RichText from './RichText.astro'

const
    {
        heading, copy, slat,
        class: classes, ...attrs
    } = Astro.props
---
<div
    class:list={[
        'space-y-4 sm:space-y-5 md:space-y-0 md:grid md:grid-cols-2 items-start gap-x-4 lg:gap-x-8',
        classes
    ]} { ...attrs }>
    <BannerTitle
        title={ heading }
        level="h3"
        size="xl"
        weight="extra"
        showSlat={ slat }
        slatColor="accent"
    />
    <RichText text={ copy }/>
</div>