---
import Button from '../atoms/Button.astro'

const { links } = Astro.props
---
<ul class="flex space-x-[12px]">
    {
        links.map((link: any) => (
            <li class="first:hidden lg:first:block">
                <a
                    href={ `/${link.link.story.full_slug === 'home' ? '' : link.link.story.full_slug}` }>
                    <Button
                        icon={ link.icon }
                        label={ link.title }
                        iconPosition={ link.icon_position }
                        color={ link.color }
                    />
                </a>
            </li>
        ))
    }
</ul>