---
const { cols = 2, inner = true, flipped, class: classes, ...attrs } = Astro.props
---
<div
    class:list={[
        cols === 2 && 'flex flex-col lg:flex-row gap-6 sm:gap-8 lg:gap-0',
        classes
    ]}
    { ...attrs }>
    <div
        class:list={[
            'pl-3 pr-3 lg:pr-0',
            cols === 2 && 'w-full lg:w-[640px]',
            inner && 'pr-0 lg:pr-8',
            flipped && 'order-2'
        ]}>
        <slot name="leading"/>
    </div>
    <div
        class:list={[
            'pl-3 pr-3 lg:pl-0',
            cols === 2 && 'w-full lg:w-[480px]',
            flipped && 'order-1'
        ]}>
        <slot name="trailing"/>
    </div>
</div>