---
import Heading from '../atoms/Heading.astro'

const {
    subtitle, title, showSubtitle, showTitle, showCopy,
    class: classes, ...attrs
} = Astro.props
---
<div
    class:list={[
        'flex items-end',
        classes
    ]} {...attrs}>
	{ showSubtitle && <Heading text={ subtitle } size="sm" weight="medium" color="surface" uppercase loosen/> }
    {
        showTitle && (
            <div>

            </div>
        )
    }
</div>