---
import Heading from '../atoms/Heading.astro'
import Copy from '../atoms/Copy.astro'
import Icon from 'astro-icon'

const {
    subtitle, title, showSubtitle = true, showTitle = true, showSlat = true, showCopy = true, copy,
    class: classes, ...attrs
} = Astro.props
---
<div
    class:list={[
        'space-y-8 lg:space-y-10',
        classes
    ]} {...attrs}>
	<div class="flex flex-col gap-y-4">
        {
            showSubtitle && (
                <Heading text={ subtitle } size="sm" weight="semi" color="surface" uppercase loosen class="opacity-60"/>
            )
        }
        {
            showTitle && (
                <div class="flex space-x-4 items-end">
                    { showSlat && <Icon name="slat-leadingbar" class="w-[48px] h-[6px] text-punch-600"/> }
                    <Heading text={ title } level="h3" size="3xl" weight="extra" tighten color="surface"/>
                </div>
            )
        }
    </div>
    <div>
        {
            showCopy && (
                <Copy content={ copy }/>
            )
        }
    </div>
</div>