---
import Heading from '../atoms/Heading.astro'

const {
    title, showSubtitle, showTitle, showCopy,
    class: classes, ...attrs
} = Astro.props
---
<div
    class:list={[
        'flex items-end',
        classes
    ]} {...attrs}>
	{ showSubtitle && <Heading text={ title } size='6xl' weight='medium' loosen color="surface"/> }
    {
        showTitle && (
            <div>

            </div>
        )
    }
</div>