---
import Heading from '../atoms/Heading.astro'
import Icon from 'astro-icon'

const { title, class: classes, ...attrs } = Astro.props
---
<div
    class:list={['flex items-end', classes ]} {...attrs}>
    <Icon name="slat-leadingbar" class="w-[64px] md:w-[96px] lg:w-[132px]"/>
	<Heading text={title} level='h2' size='7xl' weight='extra' tighten color="punch"/>
</div>
