---
import Heading from '../atoms/Heading.astro'
import Icon from '../atoms/Icon.astro'

const
    {
        title, level, size, weight, color,
        showSlat = true,
        class: classes,
        ...attrs
    } = Astro.props
---
<div
    class:list={[
        'flex items-end',
        level === 'h2' && 'space-x-2 sm:space-x-3 lg:space-x-6',
        level === 'h3' && 'space-x-2',
        classes
    ]} {...attrs}>
    { showSlat &&
        <Icon
            name="leadingbar"
            class:list={[
                level === 'h2' && 'w-[40px] h-[8px] md:w-[64px] md:h-[11px] lg:w-[88px] lg:h-[14px] xl:w-[112px] xl:h-[16px]',
                level === 'h3' && 'w-[24px] h-[5px]'
            ]}
        />
    }
	<Heading
        text={ title }
        level={ level }
        size={ size }
        weight={ weight }
        color={ color }
        tighten
    />
</div>