---
import Heading from '../atoms/Heading.astro'

const
    {
        title, color = 'surface',
        class: classes, ...attrs
    } = Astro.props
---
<div
    class:list={[
        'flex items-end',
        classes
    ]} {...attrs}>
	<Heading
        text={ title }
        size="3xl"
        weight="extra"
        color={ color }
        tighten
    />
</div>