---
import ImageProduct from '../atoms/ImageProduct.astro'

const
    {
        filename
    } = Astro.props
---
<div
    class="border-surface-200 border flex flex-col h-full p-3 gap-3">
    <div class="flex items-center justify-center w-full h-full">
        <ImageProduct filename={ filename }/>
    </div>
    <div class="h-24 flex flex-col justify-between">
        content
    </div>
</div>