---
import ImageProduct from '../atoms/ImageProduct.astro'
import Heading from '../atoms/Heading.astro'
import LinkText from '../atoms/LinkText.astro'
import Icon from '../atoms/Icon.astro'
import { _transition } from '../scripts/snips'
import Chip from '../atoms/Chip.astro'

const
    {
        filename, name, link, isNew = false,
        class: classes, ...rest
    } = Astro.props
---
<a
    href={ link || '#' }
    class:list={[
        'border-surface-200 border flex flex-col h-full p-3 gap-3 group hover:shadow-lg relative',
        _transition(),
        classes
    ]} { ...rest }>
    <div class="flex items-center justify-center w-full h-full py-3 pointer-events-none">
        <ImageProduct filename={ filename }/>
    </div>
    <div class="h-28 flex flex-col justify-between pointer-events-none">
        <Heading
            level="h3"
            size="base"
            weight="medium"
            color="dark"
            text={ name }
            class:list="line-clamp-2"
        />
        { link && (
            <div class="flex items-end justify-between text-accent-600">
                <LinkText tiny={ false } titleCase text="View Details"/>
                <Icon name="arrow-right-up" class:list="w-5"/>
            </div>
        )}
    </div>
    { isNew && (<Chip class:list="absolute top-3 left-0 pointer-events-none"/>)}
</a>