---
import ImageProfile from '../atoms/ImageProfile.astro'
import Heading from '../atoms/Heading.astro'
import LinkText from '../atoms/LinkText.astro'
import Icon from '../atoms/Icon.astro'
import { _transition } from '../scripts/snips'
import Chip from '../atoms/Chip.astro'

const
    {
        filename, name, link, isNew = false, position,
        class: classes, ...rest
    } = Astro.props
---
<a
    href={ link }
    class:list={[
        'relative',
        _transition(),
        classes
    ]} { ...rest }>
    <div
        class="pointer-events-none relative z-[2] h-[480px] xs:h-[640px] flex group-even:justify-end group-odd:justify-start">
        <ImageProfile
            filename={ filename }
            class:list="w-[calc(100%-24px)] lg:w-[calc(100%-32px)] h-[calc(100%-24px)] lg:h-[calc(100%-32px)] shadow"
        />
    </div>
    <div
        aria-hidden
        class:list={[`
            absolute bottom-0 group-odd:right-0 group-even:left-0
            h-[368px] w-[calc(100%-32px)]
            bg-accent-600
            group-even:zoid-right group-odd:zoid-left
            z-[1]`
        ]}
    />
</a>