---
import ImageSquare from '../atoms/ImageSquare.astro'
import { _transition } from '../scripts/snips'
import BannerTitle from './BannerTitle.astro'
import Button from '../atoms/Button.astro'

const
    {
        link, filename, title, class: classes, ...a
    } = Astro.props
---
<a
    href={ link }
    class:list={[
        'grid grid-cols-1 md:grid-cols-2 gap-x-12 lg:gap-x-16 gap-y-8 xs:gap-y-10 sm:gap-y-12 items-center',
        classes
    ]} { ...a }>
    <div
        class="relative pointer-events-none size-full md:size-[344px] lg:size-[424px] xl:size-[480px] overflow-clip flex group-even:justify-end group-odd:justify-start md:group-odd:order-1 md:group-even:order-2">
        <div
            class="w-[calc(100%-24px)] lg:w-[calc(100%-32px)] h-[calc(100%-24px)] lg:h-[calc(100%-32px)] shadow relative z-[2] overflow-clip">
            <ImageSquare
                filename={ filename }
                class:list={[
                    'w-full h-full group-hover:scale-105 !duration-700',
                    _transition()
                ]}
            />
        </div>
        <div
            aria-hidden
            class:list={[`
                absolute bottom-0 group-odd:right-0 group-even:left-0
                w-[calc(100%-32px)] h-[72%]
                bg-accent-600
                group-even:zoid-right group-odd:zoid-left
                z-[1] pointer-events-none`
            ]}
        />
    </div>
    <div class="md:group-odd:order-2 md:group-even:order-1 space-y-4 sm:space-y-6 lg:space-y-12">
        <BannerTitle
            title={ title }
            level="h3"
            size="2xl"
            showSlat={ false }
            weight="bold"
            color="dark"
            class:list=" group-hover:text-accent-700"
        />
        <Button
            icon="arrow-right-fill"
            label="Read More"
            left
            class:list="text-accent-600 group-hover:text-accent-700"
        />
    </div>
</a>