---
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'

const { links } = Astro.props
---
<ul class="flex space-x-[12px]">
    {
        links.map((link: any) => (
            <li class="first:hidden md:first:block group first:text-surface-700">
                <Anchor
                    href={ `/${link.link.story.full_slug === 'home' ? '' : link.link.story.full_slug}` }
                    hover="shadow">
                    <Button
                        icon={ link.icon }
                        label={ link.title }
                        iconPosition={ link.icon_position }
                        color={ link.color }
                    />
                </Anchor>
            </li>
        ))
    }
</ul>