---
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'
import _slug from '../scripts/slug'
import _slugify from '../scripts/slugify'
import Icon from '../atoms/Icon.astro'

const { links } = Astro.props
---
<ul class="flex space-x-[12px]">
    {
        links.map((el: any, idx: number) => (
            <li class="first:hidden md:first:block group first:text-surface-700">
                <Anchor
                    href={ _slug(el.link) }
                    hover={ idx == 0 ? 'accent' : 'shadow' }
                    data-anchor={ _slugify(el.link.story.full_slug) }
                    class:list={[`
                        relative group/anchor group-first:[&.active]:text-accent-600
                    `]}>
                    <Button
                        icon={ el.icon }
                        label={ el.title }
                        iconPosition={ el.icon_position }
                        color={ el.color }
                        responsive
                    />
                    { idx == 0 && (
                        <Icon
                            name="centerbar"
                            class:list="absolute bottom-0 left-1/2 -translate-x-1/2 w-[24px] h-[3px] text-accent-600 hidden group-[&.active]/anchor:block"
                        />
                    )}
                </Anchor>
            </li>
        ))
    }
</ul>