---
import Heading from '../atoms/Heading.astro'
import Icon from '../atoms/Icon.astro'

const
    {
        title, copy, tag
        , class: classes, ...attrs
    } = Astro.props,
    Tag = 'div'
---
<Tag
    class:list={[
        'relative'
        , classes
    ]}
    data-flipper { ...attrs }>
    <button
        class="bg-punch-600 text-white w-full min-h-[480px] sm:min-h-[456px] lg:min-h-[424px] flex flex-col justify-between"
        data-flipper="face">
        <div
            class="flex items-center justify-end p-4 w-full">
            <Icon name="arrow-down" class:list="w-8 pointer-events-none"/>
        </div>
        <div class="flex items-end gap-2 p-4">
            <Icon name="leadingbar" class="w-[24px] h-[5px]"/>
            <Heading
                level={ 'h3' }
                text={ title }
                size={ 'lg' }
                weight={ 'extra' }
                color={ 'white' }
                tighten
            />
        </div>
    </button>
    <div data-flipper="back">

    </div>
</Tag>