---
import Heading from '../atoms/Heading.astro'
import Icon from '../atoms/Icon.astro'
import Copy from '../atoms/Copy.astro'
import BannerTitle from './BannerTitle.astro'

const
    {
        title, copy, tag
        , class: classes, ...attrs
    } = Astro.props,
    Tag = 'div'
---
<Tag
    class:list={[
        'relative'
        , classes
    ]}
    data-flipper { ...attrs }>
    <button
        class="bg-punch-600 text-white w-full min-h-[480px] sm:min-h-[456px] lg:min-h-[424px] flex flex-col justify-between"
        data-flipper="face">
        <div
            class="flex items-center justify-end p-4 w-full">
            <Icon name="arrow-down" class:list="w-8 pointer-events-none"/>
        </div>
        <div class="flex items-end gap-2 p-4">
            <BannerTitle
                title={ title }
                level={ 'h3' }
                size={ 'lg' }
                weight={ 'extra' }
                color={ 'white' }
            />
        </div>
    </button>
    <div class="flex flex-col gap-y-4 p-4">
        <BannerTitle
            title={ title }
            level={ 'h3' }
            size={ 'md' }
            weight={ 'bold' }
            color={ 'surface' }
        />
        <Copy
            content={ copy }
            data-flipper="back"
        />
    </div>
</Tag>