---
import Heading from '../atoms/Heading.astro'
import Icon from '../atoms/Icon.astro'

const
    {
        title, copy, tag
        , class: classes, ...attrs
    } = Astro.props,
    Tag = 'div'
---
<Tag
    class:list={[
        'relative'
        , classes
    ]}
    data-flipper { ...attrs }>
    <div
        class="bg-punch-600 text-white min-h-[480px] sm:min-h-[456px] lg:min-h-[424px]"
        data-flipper="face">
        <Icon name="arrow-down" class:list="w-8"/>
        <div class="flex items-end gap-2">
            <Icon name="leadingbar" class="w-[24px] h-[5px]"/>
            <Heading
                level={ 'h3' }
                text={ title }
                size={ 'lg' }
                weight={ 'extra' }
                color={ 'white' }
                tighten
            />
        </div>
    </div>
    <div data-flipper="back">

    </div>
</Tag>