---
import Input from '@atoms/Input.astro'
import InputSelect from '@atoms/InputSelect.astro'
import InputArea from '@atoms/InputArea.astro'
import Button from '@atoms/Button.astro'
import DashedBox from '@layouts/DashedBox.astro'
import InputCheck from '@atoms/InputCheck.astro'
import RichText from '@atoms/RichText.astro'
import { _affiliate, _affiliates } from '@scripts/store'

const { consent } = Astro.props
---

<form
	class='grid grid-cols-1 gap-6 [&>:nth-last-child(2)]:mb-4'
	id='contact-form'
	form-id='PPuz35y0H'>
	<div class='grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-3'>
		<Input
			type='text'
			label='First Name'
			placeholder='Jane'
			autocomplete='Given Name'
			required
		/>
		<Input
			type='text'
			label='Last Name'
			placeholder='Diaz'
			autocomplete='Family Name'
			required
		/>
	</div>
	<Input
		type='email'
		label='Work Email'
		placeholder='jane@example.com'
		autocomplete='Email'
		required
	/>
	<InputArea label='Brief' id='message' required />
	{
		consent && (
			<DashedBox all={false} top class:list='pt-6 grid grid-cols-1 gap-6'>
				<InputCheck label='Consent' required consent>
					<RichText text={consent} tag='span' />
				</InputCheck>
			</DashedBox>
		)
	}
	<button class='group/button' data-form-submit>
		<Button
			icon='send-plane-fill'
			label='Send Message'
			iconPosition='trailing'
			color='accent'
			class:list='group-hover/button:shadow-md w-full'
			responsive
		/>
	</button>
</form>
