---
import Input from '../atoms/Input.astro'
import InputSelect from '../atoms/InputSelect.astro'
import InputArea from '../atoms/InputArea.astro'
import Button from '../atoms/Button.astro'
import DashedBox from '../atoms/DashedBox.astro'
---
<form class="grid grid-cols-1 gap-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 sm:gap-x-3">
        <Input type="text" label="Serial Number" placeholder="Serial Number" required/>
        <Input type="text" label="Product Number" placeholder="Product Number" required/>
    </div>
    <Input type="text" label="Device Name" placeholder="Device Name" required/>
    <InputArea label="Brief" id="message" required/>
    <DashedBox all={ false } top class:list="pt-4">
        <Input type="text" label="Serial Number" placeholder="Serial Number" required/>
    </DashedBox>
    <button
        class="group/button"
        data-form-submit>
        <Button
            icon="send-plane-fill"
            label="Send Complaint"
            iconPosition="trailing"
            color="accent"
            class:list="group-hover/button:shadow-md w-full"
            responsive
        />
    </button>
</form>