---
import ImageSquare from '../atoms/ImageSquare.astro'

const {
    images, class: classes, ...attrs
} = Astro.props
---
<div
    class:list={[ classes, 'group flex flex-col -space-y-9 xs:-space-y-14 sm:space-y-0 sm:flex-row sm:gap-3 overflow-clip' ]}
    { ...attrs }>
    {
        images.map((image: any) => (
            <ImageSquare
                slat
                filename={ image.file.filename }
                class="last:hidden lg:last:block sm:max-w-[50%] lg:max-w-[33.33%]"
            />
        ))
    }
</div>