---
import Anchor from '../atoms/Anchor.astro'
import Button from '../atoms/Button.astro'

const { links } = Astro.props
---
<ul class="flex items-center text-white/65">
    {
        links.map((link: any) => (
            <li class="group">
                <Anchor
                    href={`/${
                        link.link.story.full_slug === 'home'
                            ? ''
                            : link.link.story.full_slug
                    }`}
                    hover="white">
                    <Button
                        label={ link.title }
                        color={ link.color }
                        titleCase={ link.is_titlecase }
                        class:list="group-first:!pl-0 lg:group-first:!pl-3"
                    />
                </Anchor>
            </li>
        ))
    }
</ul>