---
import { useStoryblokApi } from '@storyblok/astro'

const
    api = useStoryblokApi(),
    { data } = await api.get(`cdn/stories/products`, {
        version: import.meta.env.DEV ? 'draft' : 'published',
    }),
    {
        class: classes, ...rest
    } = Astro.props,
    content = data.story.content,
    products = content.body.map((el: any) => el.products)
---
<div
    class:list={[
        '',
        classes
    ]} { ...rest }>
    <div data-signal></div>
</div>