---
import ImageProduct from '../atoms/ImageProduct.astro'

const
    {
        product,
        class: classes, ...rest
    } = Astro.props
---
<div
    class:list={[
        '',
        classes
    ]} { ...rest }>
    <div>
        <ImageProduct filename={ product.image[0].file.filename }/>
        { product.name }
        { product.oem }
    </div>
</div>