---
const
    {
        product,
        class: classes, ...rest
    } = Astro.props
---
<div
    class:list={[
        '',
        classes
    ]} { ...rest }>
    <div>
        { product.name }
    </div>
</div>