---
const
    {
        content,
        class: classes, ...rest
    } = Astro.props
---
<div
    class:list={[
        '',
        classes
    ]} { ...rest }>
    <pre data-content={ content }>
        { content }
    </pre>
</div>