---
import ImageProduct from '@atoms/ImageProduct.astro'
import BannerEntry from '@blocks/BannerEntry.astro'
import Anchor from '@atoms/Anchor.astro'
import Button from '@atoms/Button.astro'
import _slug from '@scripts/slug'
import RichText from '@atoms/RichText.astro'
import { _empty } from '@scripts/snips'
import Checklist from '@atoms/Checklist.astro'

const
    {
        item,
        class: classes,
        ...rest
    } = Astro.props
---
<div class:list={[ 'overflow-auto h-full', classes ]} { ...rest }>
    <div class="px-4 py-4 sm:px-8 sm:py-8 h-full flex flex-col justify-between">
        <div class="flex items-center justify-center pb-4 border-b border-surface-200 border-dashed">
            <ImageProduct
                filename={ item.image[0].file.filename }
                large
            />
        </div>
        <BannerEntry
            subtitle={ item.oem }
            title={ item.name }
            copy={ item.description }
            size="lg"
            color="surface"
            slatColor="accent"
            class:list="py-8"
        />
        { !_empty(item.highlights) && (
            <ul class="border-t border-surface-200 border-dashed py-8 space-y-3">
                { item.highlights.map((el: any) => (
                    <li>
                        <Checklist text={ el.item }/>
                    </li>
                )) }
            </ul>
        ) }
        <RichText text={ item.long_description[0].text } class:list="pt-8 pb-20 border-t border-surface-200 border-dashed"/>
    </div>
    <Anchor
        href={ _slug(item.link[0].link) }
        hover="shadow"
        class:list="fixed left-0 bottom-0 z-[2]">
        <Button
            icon={ item.link[0].icon }
            label={ item.link[0].title }
            iconPosition={ item.link[0].icon_position }
            color={ item.link[0].color }
            responsive
        />
    </Anchor>
</div>