---
const
    {
        content,
        class: classes, ...rest
    } = Astro.props
---
<div
    class:list={[
        '',
        classes
    ]} { ...rest }>
    <div data-content="product">
        Product! !!!
        { content }
    </div>
</div>