---
import BannerTitle from './BannerTitle.astro'
import Anchor from '../atoms/Anchor.astro'
import _slugify from '../scripts/slugify'
import _slug from '../scripts/slug'
import { _transition } from '../scripts/snips'

const
    {
        href, anchor, title
    } = Astro.props
---
<li class="group/li">
    <Anchor
        href={ href }
        hover="accent"
        class:list={[`
            relative group/anchor transition duration-200 ease-linear
            [&.active]:border-accent-400 hover:text-accent-600
            px-4 py-5 border-b border-dashed group-[:last-child]/li:border-0
        `]}
        data-anchor={ anchor }
        aria-label={ `${title} Page` }>
        <BannerTitle
            title={ title }
            size="md"
            weight="bold"
            showSlat={ false }
            class:list={[
                `group-hover/li:text-accent-600 group-[.active]/anchor:text-accent-600`,
                _transition()
            ]}
        />
    </Anchor>
</li>