---
import InputSearch from '../atoms/InputSearch.astro'
import InputSelect from '../atoms/InputSelect.astro'
import _slugify from '../scripts/slugify'
import { _products } from '../scripts/store'
import _uniquefy from '../scripts/uniquefy'

const
    {
        class: classes,
        ...rest
    } = Astro.props,
    partners = _uniquefy(_products.value.map(el => el.partner))
---
<div
    class:list={[
        'w-full lg:max-w-[680px] mx-auto px-4 absolute bottom-[-80px] left-1/2 -translate-x-1/2',
        classes
    ]} { ...rest }>
    <div class="bg-white shadow-lg h-16 sm:h-[72px] flex items-center overflow-clip relative">
        <InputSearch/>
        <InputSelect
            label="Filter by Partners"
            id="partners"
            firstOpt="All Partners"
            showLabel={ false }
            ringed={ false }
            inset
            class:list="absolute right-0 border-l-[1.5px] border-surface-300">
            { partners.map((el: any) => (
                <option
                    set:text={ el }
                    data-partner={ _slugify(el) }
                    value={ _slugify(el) }
                />
            )) }
        </InputSelect>
    </div>
</div>