<div
    class:list={[`
        fixed inset-x-0 bottom-0 z-[52]
        bg-white
        h-[80dvh]
        clip-path-t
        opacity-0 invisible
    `]} data-sheet>
    <div class="overflow-auto h-full relative *:pt-[20%] *:xs:pt-[12%] *:sm:pt-[10%]">
        <slot/>
    </div>
</div>