---

---
<div
    class:list={[`
        fixed inset-x-0 bottom-0 z-[52]
        bg-white
        h-[85dvh] w-full
        clip-path-t
        translate-y-full opacity-0 invisible
    `]} data-sheet>
    <div class="overflow-auto h-full relative">
        <slot/>
    </div>
</div>