---
const
    {
        qty,
        class: classes, ...attrs
    } = Astro.props
---
<div class="overflow-clip">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 translate-y-[12%] sm:translate-y-[25%]">
        { Array.apply(null, { length: qty }).map((n: number) => (
            <div
                class:list={[`
                    last:hidden [&:nth-child(-n+1)]:hidden sm:[&:nth-child(-n+1)]:block lg:last:block aspect-[3/4]
                    bg-accent-600 h-[480px] w-full
                    clip-path-sm
                `]}
            />
        ))}
    </div>
</div>