---
import Button from '../atoms/Button.astro'
import Anchor from '../atoms/Anchor.astro'
import { _slugify } from '../scripts/snips'

const
    { links } = Astro.props,
    pathname = new URL(Astro.request.url).pathname,
    currentPath = pathname.slice(1)
---
<ul class="hidden xl:flex text-surface-700">
	{
		links.map((link: any) => (
			<li class="group">
				<Anchor
					href={`/${
						link.link.story.full_slug === 'home'
							? ''
							: link.link.story.full_slug
					}`}
                    hover="accent"
                    class:list={ (_slugify(currentPath) === _slugify(link.link.story.full_slug)) ? 'active' : '' }>
					<Button
						label={ link.title }
						color={ link.color }
                        underbar={ link.gets_underbar }
                        active={ (currentPath === _slugify(link.link.story.full_slug)) }
					/>
				</Anchor>
			</li>
		))
	}
</ul>