---
import Button from '../atoms/Button.astro'
import Anchor from '../atoms/Anchor.astro'

const
    { links } = Astro.props,
    current = Astro.url.pathname.split('/')[1]
---
<ul class="hidden xl:flex text-surface-700">
	{
		links.map((link: any) => (
			<li class="group">
				<Anchor
					href={`/${
						link.link.story.full_slug === 'home'
							? ''
							: link.link.story.full_slug
					}`}
                    hover="accent">
					<Button
						label={ link.title }
						color={ link.color }
                        underbar={ link.gets_underbar }
					/>
				</Anchor>
			</li>
		))
	}
</ul>