---
import Button from '../atoms/Button.astro'
import Anchor from '../atoms/Anchor.astro'
import { _slugify } from '../scripts/snips'
import Icon from '../atoms/Icon.astro'

const
    { links } = Astro.props,
    pathname = new URL(Astro.request.url).pathname,
    currentPath = pathname.slice(1)
---
<ul class="hidden xl:flex text-surface-700">
	{
		links.map((link: any) => (
			<li class="group">
				<Anchor
					href={`/${
						link.link.story.full_slug === 'home'
							? ''
							: link.link.story.full_slug
					}`}
                    hover="accent"
                    class:list="relative group [&.active]:text-punch-600"
                    data-anchor={ _slugify(link.link.story.full_slug) }>
					<Button
						label={ link.title }
						color={ link.color }
                        underbar={ link.gets_underbar }
                        active={ (currentPath === _slugify(link.link.story.full_slug)) }
					/>
                    <Icon
                        name="centerbar"
                        class:list="absolute bottom-0 left-1/2 -translate-x-1/2 w-[24px] h-[3px] text-punch-600 hidden group-[&.active]:block"
                    />
				</Anchor>
			</li>
		))
	}
</ul>