---
import Button from '../atoms/Button.astro'

const { links } = Astro.props
---

<ul class="hidden xl:flex space-x-[12px]">
	{
		links.map((link: any) => (
			<li>
				<a
					href={`/${
						link.link.story.full_slug === 'home'
							? ''
							: link.link.story.full_slug
					}`}>
					<Button
						label={link.title}
						color={link.color}
                        underbar={link.gets_underbar}
					/>
				</a>
			</li>
		))
	}
</ul>