---
import BigAction from '../atoms/BigAction.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Icon from '../atoms/Icon.astro'
import Anchor from '../atoms/Anchor.astro'
import _slug from '../scripts/slug'

const { actions, class: classes, ...attrs } = Astro.props
---
<ul class:list={[
        'grid grid-cols-1 items-end relative lg:static overflow-x-clip',
        classes
    ]} { ...attrs }>
    <li
        class="group flex items-center justify-center h-[192px] lg:h-[360px] lg:relative overflow-clip clip-path-slat bg-gradient-to-b from-surface-900 to-surface-950">
        <Anchor href={ _slug(actions[1].link) } class:list="h-full w-full">
            <Wrapper class:list="w-full z-20 absolute left-0 pt-8 pb-4">
                <BigAction
                    title={ actions[1].title }
                    subtitle={ actions[1].subtitle }
                    class:list="text-white text-center"
                />
            </Wrapper>
        </Anchor>
    </li>
</ul>
<!-- <ul class:list={[
        'grid grid-cols-1 lg:grid-cols-2 lg:gap-x-2 items-end relative lg:static overflow-x-clip',
        classes
    ]} { ...attrs }>
    { actions.map((el: any, idx: number) => (
        <li
            class="group flex items-center justify-center h-[160px] sm:h-[192px] lg:first:h-[272px] lg:last:h-[368px] lg:relative lg:overflow-clip lg:clip-path-slat">
            <Anchor href={ _slug(el.link) } class:list="h-full w-full">
                <Icon
                    name={ idx === 0 ? 'slat-leading' : 'slat-trailing' }
                    class="z-10 h-[496px] sm:h-[520px] lg:w-full lg:h-full absolute group-first:-inset-x-1 group-first:-bottom-1.5 group-last:-bottom-3 group-last:hidden lg:group-last:block"
                />
                <Wrapper class:list="w-full z-20 absolute left-0 lg:group-first:pt-14 lg:group-last:pt-8">
                    <BigAction
                        title={ el.title }
                        subtitle={ el.subtitle }
                        class:list="text-white text-center"
                    />
                </Wrapper>
            </Anchor>
        </li>
    )) }
</ul> -->