---
import BigAction from '../atoms/BigAction.astro'
import Wrapper from '../layouts/Wrapper.astro'

const { actions, class: classes, ...attrs } = Astro.props
---

<ul
    class:list={['grid grid-cols-1 lg:grid-cols-2 gap-x-3', classes]}
    {...attrs}>
	{
		actions.map((action: any) => (
			<li class='group flex items-center justify-center'>
				<Wrapper class:list="w-full">
                    <BigAction
                        title={ action.title }
                        subtitle={ action.subtitle }
                        class:list="text-white text-center"
                    />
                </Wrapper>
			</li>
		))
	}
</ul>