---
import BigAction from '../atoms/BigAction.astro'
import Wrapper from '../shell/Wrapper.astro'
import Icon from 'astro-icon'

const
    { actions, class: classes, ...attrs } = Astro.props
---
<ul
    class:list={['grid grid-cols-1 lg:grid-cols-2 gap-x-2.5 items-end relative lg:static overflow-x-clip', classes]}
    {...attrs}>
    {
        actions.map((action: any, index: number) => (
            <li
                class='group flex items-center justify-center h-[144px] sm:h-[192px] lg:first:h-[272px] lg:last:h-[368px] lg:relative lg:overflow-clip'>
                <a href="/" class="flex items-center h-full w-full">
                    <Icon
                        name={ index === 0 ? 'slat-leading' : 'slat-trailing' }
                        class="z-10 h-[456px] sm:h-[496px] lg:w-full lg:h-full absolute group-first:-inset-x-1 group-first:-bottom-1.5 group-last:-bottom-3 group-last:hidden lg:group-last:block"
                    />
                    <Wrapper
                        class:list="w-full z-20 absolute left-0 lg:group-first:pt-14 lg:group-last:pt-8">
                        <BigAction
                            title={ action.title }
                            subtitle={ action.subtitle }
                            class:list="text-white text-center"
                        />
                    </Wrapper>
                </a>
            </li>
        ))
    }
</ul>