---
import BigAction from '../atoms/BigAction.astro'
import Wrapper from '../layouts/Wrapper.astro'
import Icon from '../atoms/Icon.astro'
import Anchor from '../atoms/Anchor.astro'
import _slug from '../scripts/slug'

const { actions, class: classes, ...attrs } = Astro.props
---
<ul class:list={[
        'grid grid-cols-1 items-end relative lg:static overflow-x-clip',
        classes
    ]} { ...attrs }>
    <!-- { actions.map((el: any, idx: number) => ( -->
        <li
            class="group flex items-center justify-center h-[192px] lg:h-[368px] lg:relative overflow-clip clip-path-slat bg-gradient-to-b from-surface-900 to-surface-950">
            <Anchor href={ _slug(actions[1].link) } class:list="h-full w-full">
                <Wrapper class:list="w-full z-20 absolute left-0 lg:pt-14">
                    <BigAction
                        title={ actions[1].title }
                        subtitle={ actions[1].subtitle }
                        class:list="text-white text-center"
                    />
                </Wrapper>
            </Anchor>
        </li>
    <!-- )) } -->
</ul>