---
const
    {
        cols = 2,
        flipped,
        padX,
        clip = true,
        sticky,
        class: classes,
        ...attrs
    } = Astro.props
---
<div
    class:list={[
        clip && 'overflow-clip',
        cols === 2 && 'flex flex-col lg:flex-row gap-y-8 sm:gap-y-12 lg:gap-y-0',
        padX && 'px-4',
        classes
    ]}
    { ...attrs }>
    <div
        class:list={[
            cols === 2 && 'w-full lg:w-[624px]',
            flipped && 'order-2'
        ]}>
        <slot name="leading"/>
    </div>
    <div
        class:list={[
            cols === 2 && 'w-full lg:w-[496px]',
            flipped && 'order-1',
            sticky && 'lg:self-start lg:sticky lg:top-24'
        ]}>
        <slot name="trailing"/>
    </div>
</div>