---
import Wrapper from './Wrapper.astro'
import Icon from '../atoms/Icon.astro'
import { _transition } from '../scripts/snips'

const
    {
        title, contactActions, showNav = true, nav, class: classes, ...attrs
    } = Astro.props
---
<header
    class:list={[ 'z-50 bg-white', _transition(), classes ]}
    data-header-brand
    { ...attrs }>
    <Wrapper padX={ false } class:list="flex items-center justify-between h-full">
        <a href="/" class="flex p-4">
            <Icon name="icon" class="w-9 lg:hidden text-accent-600"/>
            <Icon name="logo" class="h-10 hidden lg:block"/>
            <span class='sr-only'>Komponents</span>
        </a>
    </Wrapper>
</header>