---
import Wrapper from '@layouts/Wrapper.astro'
import Icon from '@atoms/Icon.astro'
import ContactActions from '@blocks/ContactActions.astro'
import NavDesktop from '@blocks/NavDesktop.astro'
import { _transition } from '@scripts/snips'
import TitleHidden from '@blocks/TitleHidden.astro'
import { _partners } from '@scripts/store'

const {
	title,
	contactActions,
	showNav = true,
	nav,
	class: classes,
	...attrs
} = Astro.props
---

<header
	class:list={[
		'z-50 fixed top-0 inset-x-0 bg-white h-[var(--r-spacing-16)] lg:h-[var(--r-spacing-20)]',
		_transition(),
		classes,
	]}
	data-header-main
	{...attrs}>
	<Wrapper padX={false} class:list='flex items-center justify-between h-full'>
		<div class='flex items-center space-x-10'>
			<a href='/' class='flex py-3 px-4'>
				<Icon name='icon' class='w-9 lg:hidden text-accent-600' />
				<Icon name='logo' class='h-10 hidden lg:block' />
				<span class='sr-only'>Komponents</span>
			</a>
			{
				showNav && (
					<nav>
						<TitleHidden tag='h2' title='Navigation for Desktop' />
						<NavDesktop links={nav} list={_partners} />
					</nav>
				)
			}
		</div>
		<div class:list={['flex', !showNav && 'pr-4']}>
			<ContactActions links={contactActions} />
			{
				showNav && (
					<button
						class:list={[
							'xl:hidden px-4 bg-surface-100 hover:bg-surface-200 text-accent-600',
							_transition(),
						]}
						data-sheet-trigger='nav-mobile'>
						<Icon name='menu' class='w-7 pointer-events-none' />
					</button>
				)
			}
		</div>
	</Wrapper>
</header>

<script>
	import { _q } from '@scripts/snips'
	import _scroll from '@scripts/scroll'
	import _runSheet from '@scripts/sheet'

	const _sheet = _runSheet()

	const header = _q('header'),
		height = header.getBoundingClientRect().height,
		activeClasses = [
			'shadow',
			'backdrop-filter',
			'backdrop-blur-lg',
			'bg-opacity-90',
		],
		activate = () => header.classList.add(...activeClasses),
		deactivate = () => header.classList.remove(...activeClasses),
		toggle = () => (window.scrollY > height ? activate() : deactivate()),
		sheetTrigger = _q('[data-sheet-trigger]'),
		openSheet = (e: any) => {
			_sheet.display(e)
		}

	window.scrollY !== 0 ? activate() : deactivate()
	_scroll(toggle)

	sheetTrigger.addEventListener('click', openSheet)
</script>
