---
const {
    title, class: classes, ...attrs
} = Astro.props
---
<section
    class:list={[
        '_section relative'
        , classes
    ]} { ...attrs }>
    { title && <h2 set:text={ title } class="sr-only"/> }
    <slot/>
</section>