---
const
    {
        alternate, color = 'punch'
        , class: classes, ...attrs
    } = Astro.props
---
<div
    class:list={[
        'grid grid-cols-1 lg:grid-cols-2 gap-3'
        , classes
    ]} { ...attrs }>
    <div
        class:list={[
            alternate ? 'order-2' : 'order-1',
        ]}>
        <slot name="leading"/>
    </div>
    <div
        class:list={[
            alternate ? 'order-1' : 'order-2',
        ]}>
        <slot name="trailing"/>
    </div>
</div>